:root {
  --link-color: #1a73e8;
}

/* ************  QR image    ************/

html,
body {
  height: 400px;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

#popup-content {
  margin: 0;
}

#QR-container {
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 6px grey;
}

/*************  Donut spinner  *************/
/* https://www.30secondsofcode.org/css/s/donut-spinner */

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;
}

/* ************   formats   ************/

.format__link-container {
  display: flex;
  color: var(--link-color);
  text-decoration: none;
}

.format__link-container:hover {
  text-decoration: underline;
}

.format__link-icon {
  margin: 0 0.5rem;
}

.format__content-box {
  padding: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.format__contentBox-button-container {
  border: 1px solid rgb(216, 215, 215);
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.format__copy-button {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 4px;
  cursor: pointer;
  border: none;
  background-color: rgb(216, 215, 215);
}

.format__copy-button:hover {
  background-color: rgb(184, 184, 184);
}
/* **********************************************************/

.hidden {
  display: none;
}

/************* Alert *************/

.alert {
  padding: 20px;
  background-color: #04aa6d;
  color: white;
  width: 60%;
  /* centering a fixed element is not like with other positionings */
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* ******* Add template **********************/

#add-template {
  margin: 2rem;
  height: 3rem;
  font-size: 1rem;
  text-align: center;
  align-self: flex-start;
}

#add-template span {
  color: var(--link-color);
  border: 1px solid var(--link-color);
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
}

#add-template::after {
  content: '';
  height: 1rem;
}