/* ************  QR image    ************/

html,
body {
  height: 400px;
  font-family: "Open Sans", sans-serif;
}

#popup-content {
  
  margin: 0;
}

#QR-container {
  height: 250px;
  width: 250px;
  box-shadow: 2px 2px 6px grey;
}

/* ************   formats   ************/

.format__container {
}

.format__title {
  margin-bottom: 10px;
}

.format__content-box {
  padding: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.format__contentBox-button-container {
  border: 1px solid rgb(216, 215, 215);;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.format__copy-button {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 4px;
  cursor: pointer;
  border: none;
  background-color: rgb(216, 215, 215);
}

.format__copy-button:hover {
  background-color: rgb(184, 184, 184);
}
/* **********************************************************/

.hidden {
  display: none;
}


